{% extends 'base.html' %}
{% block content %}

<h2>About this site </h2>
<div class="static-content">

This web application was created to develop my MVC and Python skills as well as perhaps someday providing a place where students can ask questions to their peer group and get jargon-free answers on a varied subject matter.

<p>It demonstrates the following features:</p>
<ul>
	<li>Development with  the <a href="https://www.djangoproject.com/" target="_blank">Django</a> MVC framework.</li>
	<li>
	Using <a href="http://en.wikipedia.org/wiki/Object-relational_mapping" target="blank">ORM</a> to store users posts and comments. 
	</li>
	<li>Persistent user login and user registration.</li>
	<li>Responsive, mobile friendly design with CSS.</li>
	<li>Dynamic content (search, pagination and explicit content filtering) with <a href="http://en.wikipedia.org/wiki/Ajax_%28programming%29" target="_blank">AJAX</a>.</li>
	<li>Version Control with <a href="http://git-scm.com/" target="_blank">Git</a>. This project can be viewed on my <a href="https://github.com/Radicis/asktag" target="_blank">Github</a> page</li>
	<li>Deployment to <a href="https://www.heroku.com/" target="_blank">Heroku</a>. </li>
</ul>
</div>
{% endblock %}