{% extends 'base.html' %}
{% block content %}
<div id="post-container">

	<ul class="post-list">
	{% if articles.count > 0 %}
		{% for article in articles %}
			<li>				
				<!-- <img class="user-image" src = "" />	-->
				<div class="post">

					<h3><a href="/get/{{ article.id }}/">{{ article.title|truncatewords:"10" }}</a></h3>					

					<div class="post-info">
						<div class="post-tags">
							Tags:
							{% for tag in article.tags %}
								<a href="/viewtag/{{ tag }}">{{ tag }}</a>
							{% endfor %}													
						</div>
						<div class="post-likes clear-fix">
							Likes: {{ article.likes }} | <a href="/like/{{ article.id }}"> Like</a> | Comments: <a href="/get/{{ article.id }}/">{{ article.num_comments }}</a> | 
							Posted {{ article.pub_date }}							
						</div>			
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>

	{% else %}
		<p>None to show</p>
	{% endif %}	
	<div class="page_navigation"></div>	
</div>


{% endblock %}
	



