{% extends 'base.html' %}

{% block content %}
<div id="view-post">
{% if article %}
	<h2>{{ article.title }}</h2>
	<p>{{ article.body }}</p>
	<p class="view-post-info">
	Likes: {{ article.likes }} |<a href="/like/{{ article.id }}">Like</a>
	Posted by: {{ article.posted_by }} | {{ article.pub_date }}
	</p>	

	
	
{% else %}
	<p>No matching post found in database</p>
{% endif %}
</div>
{% if article %}
<h3>Comments</h3>
	<ul class="post-list">

		{% for comment in comments %}
			{% if comment.is_answer %}
				<li class="answer">
			{% else %}
				<li>
			{% endif %}
				<img class="user-image" src = "" />	
				<div class="post">
					{{ comment.body }}
					<div class="post-info">
						{{ comment.pub_date }} by {{ comment.posted_by }}<br>
						Likes: {{ comment.likes }} |<a href="">Like</a>
					</div>
					{% if article.posted_by == user %}
						<div class="accept-answer"><a href="">Accept Answer</a></div>
					{% endif %}
				</div>
			</li>
		{% endfor %}
	
</ul>

	<form id="comment-form" action="/comment/{{ article.id }}/" method="POST">
		{% csrf_token %}
		<ul>
			{{ comment_form.as_ul }}
			<input type="hidden" name="article" value="{{ article.id }}" />
		</ul>
		<input type="submit" name="submit" value="Save Comment" />	
	<form><!-- End Make post form -->
{% endif %}
{% endblock %}

